In [1]:
import yfinance as yf

In [2]:
import pandas as pd

In [45]:
apple_minute_data = yf.download(tickers="HALKB.IS", period="2y", interval="1h", auto_adjust=True)
apple_minute_data

[*********************100%***********************]  1 of 1 completed

                            Open   High    Low  Close    Volume
2020-12-28 10:30:00+03:00   5.46   5.47   5.44   5.45   5005622
2020-12-28 11:30:00+03:00   5.45   5.46   5.44   5.44   3280046
2020-12-28 12:30:00+03:00   5.44   5.46   5.44   5.44   2112697
2020-12-28 13:30:00+03:00   5.44   5.46   5.43   5.45   3787175
2020-12-28 14:30:00+03:00   5.45   5.45   5.43   5.43   2616387
...                          ...    ...    ...    ...       ...
2022-12-27 13:30:00+03:00  13.74  13.90  13.74  13.77  13382457
2022-12-27 14:30:00+03:00  13.78  13.83  13.70  13.81   5466137
2022-12-27 15:30:00+03:00  13.81  13.97  13.78  13.80  10941351
2022-12-27 16:30:00+03:00  13.79  13.81  13.62  13.63   7646017
2022-12-27 17:30:00+03:00  13.63  13.66  13.40  13.49   6380835

[4070 rows x 5 columns]

In [46]:
# Aggregate function
ohlcv_dict = {'Open': 'first',
              'High': 'max',
              'Low': 'min',
              'Close': 'last',
              'Volume': 'sum'
             }

In [33]:
# Resample data to 15 minutes data
apple_minute_data_15M = apple_minute_data.resample('4H').agg(ohlcv_dict)

# Drop the missing values
apple_minute_data_15M.dropna(inplace=True)

apple_minute_data_15M

                            Open   High    Low  Close    Volume
Datetime
2022-12-26 08:00:00+03:00  14.10  14.12  14.01  14.05   5227069
2022-12-26 12:00:00+03:00  14.05  14.09  13.99  14.01  14524828
2022-12-26 16:00:00+03:00  14.00  14.02  13.86  13.88  11253457
2022-12-27 08:00:00+03:00  13.80  13.83  13.61  13.71  14368434
2022-12-27 12:00:00+03:00  13.71  13.97  13.67  13.80  32571007
2022-12-27 16:00:00+03:00  13.79  13.81  13.40  13.49  14026852